.title {
  font-size: 15px;
  font-weight: 700px;
  text-align: center;
  margin: 70px 0 30px;
  text-transform: uppercase;
  color: #212ea0;
}
.title h2 {
  font-size: 32px;
  color: #000f38;
  margin-top: 5px;
  text-transform: none;
}
